*{}

.discover .exper {
    display: flex;
    flex-direction: row;
}

.home img {
    width: 126px;
    height: 100%;
    border-radius: 5px 0px 0px 5px;
}

.home {
    height: 84px;
    width: 384px;
    border-radius: 5px;
    box-shadow: 0 0 9px -2px;
    color: #333;
    margin-right: 23px;
}

h2 {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 12px;
    margin-top: 0px;
}

.discover {
    padding: 40px 80px;
}